button {
  padding: 10px 20px;
  background-color: #272626;
  color: white;
  font-family: Helvetica;
  font-size: 15px;
  border: none;
  display: block;
  margin-bottom: 10px;
}

video,
canvas {
  display: block;
  margin-bottom: 10px;
}

.grid {
  padding: 10px;
  position: top left;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkIAIcuPnrPyMR6hhGFeINJXDwgAhiwhIAnJ0jvy51U54AAAAASUVORK5CYII=")
    repeat;
  min-height: 100vh;
}
